<div class="card-container">
  <mat-card class="form-card">
    <mat-card-title-group>
      <mat-card-title class="p-20">Edit Product</mat-card-title>
    </mat-card-title-group>

    <mat-card-content>
      <form [formGroup]="productForm" (ngSubmit)="onSubmit()">

        <mat-form-field class="form-field">
          <mat-label>Title</mat-label>
          <input matInput placeholder="Title" formControlName="title" required>
          <mat-error *ngIf="productForm.get('title')?.hasError('required')">Title is required</mat-error>
        </mat-form-field>

        <mat-form-field class="form-field">
          <mat-label>Description</mat-label>
          <textarea matInput placeholder="Description" formControlName="description" required></textarea>
          <mat-error *ngIf="productForm.get('description')?.hasError('required')">Description is required</mat-error>
        </mat-form-field>

        <mat-form-field class="form-field">
          <mat-label>Status</mat-label>
          <mat-select formControlName="status" required>
            <mat-option value="Draft">Draft</mat-option>
            <mat-option value="Publish">Publish</mat-option>
          </mat-select>
          <mat-error *ngIf="productForm.get('status')?.hasError('required')">Status is required</mat-error>
        </mat-form-field>

        <mat-form-field class="form-field">
          <mat-label>Date</mat-label>
          <input matInput [matDatepicker]="picker" placeholder="Date" formControlName="date" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="productForm.get('date')?.hasError('required')">Date is required</mat-error>
        </mat-form-field>

        <mat-form-field class="form-field">
          <mat-label>Category</mat-label>
          <input matInput placeholder="Category" formControlName="category" required>
          <mat-error *ngIf="productForm.get('category')?.hasError('required')">Category is required</mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="productForm.invalid">Save</button>
        <button mat-raised-button color="warn" type="button" (click)="onCancel()">Cancel</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
